
<div class="accordion accordion-flush infinite-scroll" id="pigs" style="">
{{#with user.pigs as | pigs |}}
{{#each pigs as | pig |}}
  <div class="accordion-item" id="pig-item">
    <h2 class="accordion-header" id="flush-heading{{pig.id}}">
      <button id="pig-header" class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{pig.id}}" aria-expanded="false" aria-controls="flush-collapse{{pig.id}}">
        {{pig.name}} <p id="pig-name-amount">$ {{pig.amount_held}} {{#if pig.amount_due}} / $ {{pig.amount_due}} due {{/if}}</p>
      </button>
    </h2>
    <div id="flush-collapse{{pig.id}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{pig.id}}" data-bs-parent="#accordionFlushExample">
      <div id="pig-data-body"class="accordion-body">
        <ul>
          <li>
            $ {{pig.amount_held}} {{#if pig.amount_due}} / $ {{pig.amount_due}} {{/if}}
          </li>
          {{#if pig.due_date}}
          <li>
            Due on {{pig.due_date}}
          </li> 
          {{/if}} 
          
        </ul>
      </div>
    </div>
  </div>
{{/each}}
{{/with}}
</div>

