{{#each pigs as | pig |}}
  <div class="accordion-item" id="pig-item">
    <h2 class="accordion-header" id="flush-heading{{pig.id}}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{pig.id}}" aria-expanded="false" aria-controls="flush-collapse{{pig.id}}">
        {{pig.name}}
      </button>
    </h2>
    <div id="flush-collapse{{pig.id}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{pig.id}}" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
    </div>
  </div>
{{/each}}
  